@import 'src/styles/system/vars';

.header {
    grid-area: header;
    background-color: $grayBg;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.login {
    color: $white;

    a {
        color: $white;
    }
}

.name {
    margin-right: 20px;
}

.logout {
    cursor: pointer;
}