* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    background-color: #f0f0f0;
    font-family: $font_default;
    font-size: $font_size_default;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

input, textarea {
    padding: 10px;
    box-shadow: none;

    &:focus {
        outline: none;
        border-color: $grayBg;
    }
}

.button {
    width: 100%;
    background-color: $grayBg;
    color: $white;
    box-shadow: none;
    border: 1px solid $grayBg;
    transition: 0.2s;
    padding: 12px 22px;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $grayBg;
    }
}