@import "src/styles/system/vars";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: footer;
  background-color: $grayBg;
  padding: 15px 20px;
  color: $white;
}

.copyright {
  font-size: 14px;
}

.logo {
  color: $white;
  text-decoration: none;
}