@import 'src/styles/system/vars';

.nav {
  display: block;
  text-align: left;
}

.item {

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  a {
    color: $white;
    text-decoration: none;
    font-weight: 500;
    line-height: 21px;
    font-size: 16px;
    transition: 0.2s;
    opacity: 0.6;

    &.active, &:hover {
      opacity: 1;
    }
  }
}